snippet html "HTML Skeleton"
<!doctype html>
<html>
<head>
  <title></title>
</head>
<body>

</body>
</html>
endsnippet

snippet link:css "HTML.stylesheet"
<link rel="stylesheet" href="${1}">
endsnippet

snippet prop "spring property"
<property name="${1}" type="${2}"/>
endsnippet
